@media (min-width: 768px) {
	body {
		.navbar {
			&__list {
				position: static;
				justify-content: center;
				flex-direction: row;
				height: 100%;
				width: 50%;
				top: 0;
				transform: translateY(0);

				&-link {
					width: 100%;
				}
			}
			&__btn {
				display: none;
			}
		}

		.hero {
			height: 25em;
			background-image: url('/src/img/jungle-1807476_1920.jpg');
		}

		.about-us {
			&__box {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: row-reverse;
				margin-top: 2em;
				gap: 2em;

				&-info {
					width: 50%;

					p {
						line-height: 2em;
					}
				}

				&-img {
					height: 20em;
					width: 50%;
					background-image: url('/src/img/waters-3095682_1920.jpg');
				}
			}
		}

		.adventure {
			background-image: url('/src/img/girl-5785590_1920.jpg');
			&__text {
				padding: 1em 4em;
				letter-spacing: 0.1em;
				font-size: 3rem;
			}
		}

		.contact-wrapper {
			position: relative;
			padding: 1em 2em;
			display: flex;
			justify-content: space-between;
			align-items: center;
	
			.map {
				width: 70%;
			}
	
			.popup {
				position: absolute;
				display: none;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.footer {
			&__boxes {
                align-items: flex-start;
				flex-direction: row;
			}
			&__box {
				padding: 1em;
				width: 20%;

                &-logo {
                    margin-top: .5em;
                    font-size: 4rem;
                }

				li {
					text-align: justify;
				}

				&:first-child {
					width: 50%;
				}
			}
		}
	}

}
